[backup]

# Optional system user to run backups as.  If the user the script is running as doesn't match this
# the script terminates.  Leave blank to skip check.
#backup_user=

# Optional hostname to adhere to pg_hba policies.
#hostname=

# Optional port.
#port=

# Optional username to connect to database as. The special value `%(USER)s`
# can be used to indicate the system user.
#username=

# This dir will be created if it doesn't exist.  This must be writable by the user the script is
# running as.
#backup_dir=

# Will produce gzipped sql file containing the cluster globals, like users and passwords, if set to "yes"
enable_globals_backups=yes

#### WHAT TO LOG ####

# If separate_schema_dumps is yes, each schema is dumped separately
separate_schema_dumps=no

#include_databases=
#exclude_databases=
#include_schemas=
#exclude_schemas=

#### SETTINGS FOR ROTATED BACKUPS ####

# Number of days to keep daily backups; 0 means no daily backups.
days_to_keep=7

# How many weeks to keep weekly backups; 0 means no weekly backups.
weeks_to_keep=4

# How many months to keep monthly backups; 0 means no monthly backups.
months_to_keep=12

######################################
